form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px;
}

form input {
 border: 1px solid #262626;
}

form label {
font-size: larger;
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
}

.quotes {
  padding: 20px;
  margin: 20px;
  width: 20rem;
  height: 20rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.5);
}

.quotesP {
}

.quotesC {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: none;
  background-color: #264653;
  color: white;
}

#quoteDisplay {
 display: flex;
 flex-direction: row;
 align-items: center;
}

#newQuote {
  margin: 10px;
  padding: 6px 8px;
  border-radius: 6px;
  border: none;
  background-color: #264653;
  color: white;
}